h3{
    color: red;
    margin: 10px 0px 0px 200px;
}

.title{
    line-height: 30px;
}
ul.showdataByid{
  line-height: 33px;
  border: 2px solid black;
  box-shadow: 3px 3px 5px black;
  padding: 35px;
  margin: 0;

  list-style-position: inside;
}
.heading{
    font-size: 22px;
}

.editbtn{
    text-transform: uppercase;
    box-shadow: 3px 3px 5px black;
    background-color: aqua;
    padding: 5px;
}
.f-info-links a{
    text-decoration: none;
    color:violet;
}
.listen-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity:0.6;
    background-color: white;
}