<footer>
    <div class="footer-info">
        <div class="f-info-socials">
            <div>woderfull private limited</div>
            <div class="f-info-links">
                <a href="/privacy">privacy</a>
                <br>
                <a href="/terms">terms</a>
            </div>
        </div>
    </div>
</footer>